@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@layer base {
  html {
    color-scheme: dark;
  }

  body {
    @apply bg-slate-950 text-slate-100 antialiased;
  }
}
